.hide {
    display: none;
}

.show {
    display: block;
}

.defs {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.clear_float {
    content: '';
    display: block;
    clear: both;
}