.hide {
    display: none;
}

.show {
    display: block;
}

.defs {
    visibility: hidden;
    width:1px;
    height: 1px;
    overflow: hidden;
}

.clear_float {
    content: '';
    display: block;
    clear: both;
}