.controls {
    border: 3px dashed red; //debug

    i {
        display: block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        i {
            //display: none;
        }
    }


    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
        }

        &:after {
            @extend .clear_float;
        }
    }


    .play-pause {
        > svg {
            width: 38px;
            height: 38px;
            padding: 3px;
            cursor: pointer;

            use {
                transform: scale(0.8);
            }

            &:hover {
                fill: gray;
            }
        }

        .play {
            @extend .show;
        }

        .pause {
            @extend .hide;
        }
    }



    .controls-list {
        margin-left: 5px;

        .info {
            .title {
                float: left;
            }

            .buttons-list {
                float: right;

                .provider {
                    background: gray;
                }

                .volume {
                    ol {
                        .mute i {
                            background: red;

                            &:hover {
                                background-position: blue;
                            }
                        }

                        .unmute i {
                            background: yellow;

                            &:hover {
                                background-position: green;
                            }
                        }

                        .volume-max i {
                            background: gray;

                            &:hover {
                                background: skyblue;
                            }
                        }

                        .volume-progress {
                            cursor: pointer;

                            .volume-progress-bg {
                                margin-top: 6px;
                                height: 9px;
                                width: 70px;
                                border: 1px solid black;
                                border-radius: 3px;
                                background-color: #383838;
                                background-image: -moz-linear-gradient(top, #3b3b3b, #333);
                                background-image: -ms-linear-gradient(top, #3b3b3b, #333);
                                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#333));
                                background-image: -webkit-linear-gradient(top, #3b3b3b, #333);
                                background-image: linear-gradient(top, #3b3b3b, #333);
                                background-repeat: repeat-x;
                                filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ff3b3b3b', endColorstr='#ff333333', GradientType=0);
                            }

                            .volume-bar-value {
                                height: 100%;
                                border-radius: 3px;
                                background-color: #f88800;
                                background-image: -moz-linear-gradient(top, #f99a00, #f66c00);
                                background-image: -ms-linear-gradient(top, #f99a00, #f66c00);
                                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f99a00), to(#f66c00));
                                background-image: -webkit-linear-gradient(top, #f99a00, #f66c00);
                                background-image: linear-gradient(top, #f99a00, #f66c00);
                                background-repeat: repeat-x;
                                filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fff99a00', endColorstr='#fff66c00', GradientType=0);
                            }
                        }
                    }
                }
            }
        }



        .scrabber {
            @extend .clear_float;

            span.current-time,
            span.duration {
                float: left;
            }

            .progress-bar {
                float: left;
                width: 376px;
                height: 9px;
                border: 1px solid black;
                border-radius: 3px;
                background-color: black;
                cursor: pointer;
                margin: 2px 10px 0 10px;

                .seek-bar {
                    height: 100%;
                    border-radius: 3px;
                    background-color: #383838;
                    background-image: -moz-linear-gradient(top, #3b3b3b, #333);
                    background-image: -ms-linear-gradient(top, #3b3b3b, #333);
                    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#333));
                    background-image: -webkit-linear-gradient(top, #3b3b3b, #333);
                    background-image: linear-gradient(top, #3b3b3b, #333);
                    background-repeat: repeat-x;
                    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ff3b3b3b', endColorstr='#ff333333', GradientType=0);
                }

                .play-bar {
                    height: 100%;
                    border-radius: 3px;
                    background-color: #f88800;
                    background-image: -moz-linear-gradient(top, #f99a00, #f66c00);
                    background-image: -ms-linear-gradient(top, #f99a00, #f66c00);
                    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f99a00), to(#f66c00));
                    background-image: -webkit-linear-gradient(top, #f99a00, #f66c00);
                    background-image: linear-gradient(top, #f99a00, #f66c00);
                    background-repeat: repeat-x;
                    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fff99a00', endColorstr='#fff66c00', GradientType=0);
                }
            }
        }

    }
}