.controls {
    background-color: red;

    ul, ol {
        list-style-type: none;

        li {
            float: left;
        }

        &:after {
            @extend .clear_float;
        }
    }


    .play_pause {
        .play {
            @extend .show;
        }

        .pause {
            @extend .hide;
        }
    }


    .controls_list {

    }
}