<div class="controls">
    <ul>
        <li class="play-pause">
            <div>
                <svg class="play">
                    <use xlink:href="#play-button-shape">
                </svg>

                <svg class="pause hide">
                    <use xlink:href="#pause-button-shape">
                </svg>
            </div>
        </li>

        <li class="controls-list">
            <div class="info">
                <div class="title">Artist - Title</div>

                <div class="buttons-list">
                    <ul>
                        <li class="providers">
                            <ol>
                                <li class="youtube-btn hide">
                                    <div>
                                        <svg>
                                            <use xlink:href="#youtube-logo">
                                        </svg>
                                    </div>
                                </li>

                                <li class="vimeo-btn hide">
                                    <div>
                                        <svg>
                                            <use xlink:href="#vimeo-logo">
                                        </svg>
                                    </div>
                                </li>

                                <li  class="soundcloud-btn hide">
                                    <div>
                                        <svg>
                                            <use xlink:href="#soundcloud-logo">
                                        </svg>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="volume">
                            <ol>
                                <li class="mute-toggle mute hide">
                                    <div>
                                        <svg>
                                            <use xlink:href="#mute-button-shape">
                                        </svg>
                                    </div>
                                </li>
                                <li class="mute-toggle unmute">
                                    <div>
                                        <svg>
                                            <use xlink:href="#unmute-button-shape">
                                        </svg>
                                    </div>
                                </li>

                                <li class="volume-progress">
                                    <div class="volume-progress-bg"><div class="volume-bar-value"></div></div>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="scrabber">
                <span class="current-time" style="left: 9.55085%;">00:09</span>

                <div class="progress-bar" style="width: 527px;">
                    <div class="seek-bar">
                        <div class="play-bar" style="width: 7.30297%;"></div>
                    </div>
                </div>

                <span class="duration">01:35</span>
            </div>
        </li>
    </ul>
</div>