<div class="controls">
    <ul>
        <li class="play-pause">
            <svg class="button" id="play-button">
                <use xlink:href="#play-button-shape">
            </svg>
            <svg class="button" id="pause-button">
                <use xlink:href="#pause-button-shape">
            </svg>
            <i class="play"><i>Play</i></i>
            <i class="pause"><i>Pause</i></i>
        </li>

        <li class="controls-list">
            <div class="info">
                <div class="title">Artist - Title</div>

                <div class="buttons-list">
                    <ul>
                        <li class="provider"><i><i>Provider</i></i></li>

                        <li class="volume">
                            <ol>
                                <li class="mute"><i><i>Mute</i></i></li>
                                <li class="unmute"><i><i>Unmute</i></i></li>

                                <li class="volume-progress">
                                    <div class="volume-progress-bg"><div class="volume-bar-value"></div></div>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="scrabber">
                <span class="current-time" style="left: 9.55085%;">00:09</span>

                <div class="progress-bar" style="width: 527px;">
                    <div class="seek-bar">
                        <div class="play-bar" style="width: 7.30297%;"></div>
                    </div>
                </div>

                <span class="duration">01:35</span>
            </div>
        </li>
    </ul>
</div>