<div class="controls">
    <ul>
        <li class="play_pause">
            <a href="javascript:;" class="play"><i>Play</i></a>
            <a href="javascript:;" class="pause"><i>Pause</i></a>
        </li>

        <li class="controls_list">
            
            <div class="scrabber">
                <div class="progress_bar" style="width: 227px;">
                    <div class="seek_bar">
                        <div class="play_bar" style="width: 4.30297%;"></div>
                    </div>
                </div>
            </div>

            <div class="btns_list">
                <ul>
                    <li><a href="javascript:;" class="repeat"><i>repeat</i></a></li>

                    <li><a href="javascript:;" class="provider"><i>provider</i></a></li>

                    <li class="volume">
                        <ol>
                            <li><a href="javascript:;" class="mute"><i>mute</i></a></li>
                            <li><a href="javascript:;" class="unmute"><i>unmute</i></a></li>

                            <li class="volume_progress">
                                <div class="volume_progress_bg"><div class="volume_bar_value"></div></div>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>